body{
  background: black;
}
.container {
  background: white;
  color: black;
  border-radius: 15px;
  text-align: center;
  padding:  60px;
}
.message {
  color: white;
  display: flex;
  justify-content: center;
}